@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Căn nội dung của toàn trang */
    .centered-container {
        display: flex;
        justify-content: right;
        align-items: center;
        height: 100vh; /* Chiều cao 100% của trang */
    }

    h1 {
        font-size: 4em; /* Kích thước chữ */
        text-align: right; /* Căn giữa chữ */
        color: black; /* Màu chữ, tùy chọn */
    }
</style>

<div class="centered-container">
    <h1>
        Welcome to KoiCompettio
    </h1>
</div>
