
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@if (User.Identity.IsAuthenticated){
<h1>Welcome to Profile Page</h1>
}
else{
<h1>Please go to the <a href ="/Account/Login">login page</a> </h1>
}
